@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Nunito/Nunito-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Nunito/Nunito-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Heebo/Heebo-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Heebo/Heebo-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf) format('truetype');
}